<!DOCTYPE html>
<html>
<head>
  <title>Manage Assessments</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="centered-form">
    <h2>Manage Assessments</h2>
    <p>This is the Manage Assessments page.</p>
    <a href="/admin" style="display:inline-block;margin-top:20px;"><button type="button">Go back to Admin Dashboard</button></a>
  </div>
</body>
</html> 